# Get from stack > settings > Stack > API Credentials
CONTENTSTACK_API_KEY=YOUR_API_KEY

# Generate from stack > settings > Tokens > + Delivery Token
CONTENTSTACK_DELIVERY_TOKEN=YOUR_DELIVERY_TOKEN
CONTENTSTACK_PREVIEW_TOKEN=YOUR_PREVIEW_TOKEN

# Get all present publishing enviorments from stack > settings > Environments
CONTENTSTACK_ENVIRONMENT=YOUR_CONTENTSTACK_ENVIRONMENT

# For Europe, set region as EU and host as eu-cdn.contentstack.com.
# For Azure North America, set region as AZURE_NA and host as azure-na-cdn.contentstack.com.
# For Azure Europe, set the region as AZURE_EU and host as azure-eu-cdn.contentstack.com.
# For GCP North America, set the region as GCP_NA and host as gcp-na-cdn.contentstack.com.
# For GCP Europe, set the region as GCP_EU and host as gcp-eu-cdn.contentstack.com.
# For AWS Australia, set the region as AU and host as au-cdn.contentstack.com.
CONTENTSTACK_HOST=YOUR_CONTENTSTACK_HOST #Default is aws-us which is cdn.contentstack.io
CONTENTSTACK_REGION=YOUR_CONTENTSTACK_REGION #Default is us

# US (North America, or NA): rest-preview.contentstack.com
# Europe (EU): eu-rest-preview.contentstack.com
# Azure North America (AZURE NA): azure-na-rest-preview.contentstack.com
# Azure Europe (Azure EU):azure-eu-rest-preview.contentstack.com
# GCP NA: gcp-na-rest-preview.contentstack.com
CONTENSTACK_PREVIEW_HOST=YOUR_CONTENSTACK_PREVIEW_HOST #Default is aws-us which is rest-preview.contentstack.com

# Get all branches from stack > settings > Branches. Choose the one your are working on.
CONTENTSTACK_BRANCH=YOUR_CONTENTSTACK_BRANCH  #Default is main

# Get from organization > personalize (from sidebar) > select the personalize project connected with your stack or create a new personalize project > settings > general > Project Details > uid
CONTENTSTACK_PERSONALIZATION=YOUR_CONTENTSTACK_PERSONALIZATION

# AWS US (North America, or NA): https://personalize-edge.contentstack.com
# AWS Europe (EU): https://eu-personalize-edge.contentstack.com
# Azure North America (Azure NA): https://azure-na-personalize-edge.contentstack.com
# Azure Europe (Azure EU): https://azure-eu-personalize-edge.contentstack.com
# GCP North America (GCP NA): https://gcp-na-personalize-edge.contentstack.com
# GCP Europe (GCP EU): https://gcp-eu-personalize-edge.contentstack.com
# AWS Australia (AU): https://au-personalize-edge.contentstack.com
CONTENTSTACK_PERSONALIZE_EDGE_API_URL=YOUR_CONTENTSTACK_PERSONALIZE_EDGE_API_URL #Default is aws-us which is https://personalize-edge.contentstack.com

# Get from organization > data and insights (from sidebar)
LYTICS_TAG=YOUR_LYTICS_TAG

# Enable or disable live preview entirely.
LIVE_PREVIEW_ENABLED=true

# If hosting the production website on launch use HOSTING=launch, this will enable you to get benefits of launch's edge functions and middleware support
HOSTING=local

