@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=B92EF01D-F140-4E0D-81F0-5DE5026EC013
//npm.pkg.github.com/:_authToken=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
